.App {
  text-align: center;
  margin-top: 40px;
}
h2 {
  font-size: 18px;
  font-weight: bold;
}
.nav-links a {
  margin-right: 30px;
}
.container {
  width: 100vw;
  display: flex;
  margin-top: 30px;
}
.countries-list a {
  text-decoration: none;
  color: black;
}
.country-thumbnail {
  padding: 5px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  margin: 5px;
  font-size: 12px;
  height: 90px;
}
.country-thumbnail:hover {
  background-color: #eaeaea;
}
.country-thumbnail img {
  object-fit: cover;
  width: 70px;
  height: 30px;
}
.countries-list {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
}
.loading {
  font-weight: bold;
  background-color: #eaeaea;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.spinner {
  width: 80px;
  animation: spinner infinite 5s linear;
  display: block;
  margin: 20px auto;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.single-country {
  margin: 20px;
  border: solid 1px #ccc;
  width: 350px;
  padding: 30px 40px;
  height: fit-content;
  right: 0px;
  background-color: white;
}
.country-details .flag-img {
  width: 100%;
}
.country-details span {
  font-weight: bold;
}
.country-details .flag-img img {
  width: 80%;
}
.country-details .official-name {
  font-weight: bold;
}